.header {
  background-image: url(/imgs/header.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.header__container-info {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__h2 {
  font-weight: bold;
  font-size: 55px;
  color: #fff;
}

.header__span {
  font-weight: normal;
  letter-spacing: 1px;
  color: #fff;
}

.header__a {
  background-color: var(--first-orange);
  text-decoration: none;
  padding: 15px 60px;
  border-radius: 25px;
  color: #fff;
  font-weight: normal;
  transition: 0.2s;
}
.header__a:hover {
  background-color: #b94a0b;
}

/* Tablet (1000px) */

@media (max-width: 1000px) {
  .header {
    height: 100vh;
  }
}

/* Mobile 480px */

@media (max-width: 480px) {
  .header {
    background-size: cover;
    height: 50vh;
  }
}
